# LFS defaults
*.joblib filter=lfs diff=lfs merge=lfs -text
*.parquet filter=lfs diff=lfs merge=lfs -text
models/** filter=lfs diff=lfs merge=lfs -text
data/**/*.csv filter=lfs diff=lfs merge=lfs -text
data/*.csv filter=lfs diff=lfs merge=lfs -text

# EXCEPTION: keep demo CSV as a regular Git file
data/processed/combined_demo.csv -filter -diff -merge text

